.Carrier4 {
    width: 100%;
    height: 740px;
    background-color: #fff;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}
.results {
    width: 30%;
    height: 290px;
    background-color: #d9d9d9;
    border-radius: 15px;
    box-shadow: 10px 10px 10px 10px #000;
}
.results div {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0 0 0;
}
.results h2 {
    margin: 15px 0 0 0;
    text-align: center;
}
.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0 0 0;
}